<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>GraphQL Login</title>
    </head>

    <body>
        <header>Login</header>
        <form action="submit" id="login-form">
            <input type="text" placeholder="username/email"><br>
            <input type="password" placeholder="pasword" >
        </form>

        <!-- <script type="module" src="../js/login.js"></script> -->
    </body>
</html>